html {
	max-width: 100%;
	overflow-x: hidden;
}

#preloader {
	position: fixed;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
	background-color: #fff;
	z-index: 9999999;
	top: 0;
	left: 0;
}

*:focus {
	outline: 0;
}

.number-input-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.input-number {
	padding: 0 12px;
	vertical-align: top;
	text-align: center;
	outline: none;
	width: 70%;
}

.input-number,
.input-number-decrement,
.input-number-increment {
	border: none;
	color: #bababa;
	height: 40px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.input-number-decrement,
.input-number-increment {
	display: inline-block;
	width: 15%;
	line-height: 38px;
	background: transparent;
	color: #BABABA;
	border: none;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
	background: #f5f5f5;
}

.input-number-decrement {
	border-right: none;
	border-radius: 6px;
}

.input-number-increment {
	border-left: none;
	border-radius: 0 4px 4px 0;
}

select,
input,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1040px;
	}
}

.language-menu {
	padding-left: 20px;
}

.language-menu .dropdown-toggle::after {
	content: "\f078";
	width: 0;
	height: 0;
	margin-left: 10px;
	position: relative;
	top: 4px;
	border: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
}

.language-menu .dropdown-item.active,
.dropdown-item {
	padding: 5px 15px;
}

.language-menu .dropdown-item.active,
.dropdown-item:active {
	background-color: #ffa51e;
}

.language-menu .dropdown-menu {
	border: none;
	border-radius: 8px;
	-webkit-box-shadow: 0px 5px 16px rgba(15, 15, 15, 0.06);
	        box-shadow: 0px 5px 16px rgba(15, 15, 15, 0.06);
}

.language-menu .flag-icon {
	margin-right: 5px;
}

.btn.btn-primary {
	background-color: #FFA500;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	border: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 0.2rem #fff0c1;
	        box-shadow: 0 0 0 0.2rem #fff0c1;
}

.btn-primary.focus,
.btn-primary:focus {
	-webkit-box-shadow: 0 0 0 0.2rem #fff0c1;
	        box-shadow: 0 0 0 0.2rem #fff0c1;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #FFA500;
	border-color: transparent;
	border: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}

.bg-orange {
	background-color: #FFA500!important;
	color: #fff;
}

.text-orange {
	color: #FFA500!important;
}

body {
	font-family: 'Lato', sans-serif;
}

header {
	position: relative;
	z-index: 10;
}

.navbar {
	padding: 20px 0;
}

.navbar.navbar-dark {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.navbar.navbar-light {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.navbar .navbar-brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	font-weight: 500;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.navbar .navbar-brand .logo {
	width: 35px;
	height: 32px;
	background-size: contain;
	margin-right: 10px;
	background-repeat: no-repeat;
}

.navbar.navbar-dark .navbar-brand .logo {
	background-image: url('/assets/img/logo-white.svg');
}

.navbar.navbar-light .navbar-brand .logo {
	background-image: url('/assets/img/logo-black.svg');
}

.navbar-dark.dark-text .navbar-nav .nav-link:focus,
.navbar-dark.dark-text .navbar-nav .nav-link:hover {
	color: rgba(0, 0, 0, .7);
}

.navbar-dark.dark-text .navbar-nav .nav-link {
	color: rgba(0, 0, 0, .5);
}

.home-hero-slider {
	position: relative;
	margin-top: -83px;
}

.home-hero-slider .item {
	height: 580px;
	background-position: center;
	background-size: cover;
}

.home-hero-slider .overlay-slider {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .4);
}

.home-hero-slider .overlay-slider .container,
.home-hero-slider .overlay-slider .container>.row {
	height: 100%;
}

.home-hero-slider .overlay-slider .slider-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
}

.home-hero-slider h2 {
	font-size: 82px;
	font-weight: 900;
	line-height: 1.2;
}

.home-hero-slider h3 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0;
	text-transform: uppercase;
}

.home-hero-slider .owl-dots {
	position: absolute;
	top: 50%;
	right: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.home-hero-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	margin-bottom: 12px;
	outline: 0;
}

.home-hero-slider .owl-dots .owl-dot:last-child {
	margin-bottom: 0;
}

.home-hero-slider .owl-dots .owl-dot.active {
	background-color: rgba(255, 255, 255, 1)
}

.hero-form-section {
	margin-top: -85px;
	z-index: 2;
	position: relative;
}

.hero-form-section .hero-form {
	background-color: #fff;
	border-radius: 12px;
	-webkit-box-shadow: 0 10px 16px rgba(15, 15, 15, .06);
	        box-shadow: 0 10px 16px rgba(15, 15, 15, .06)
}

.hero-form-section .hero-form .hero-form-select-wrapper {
	padding: 35px 30px;
}

.hero-form-section .hero-form .hero-form-select-wrapper .form-group {
	margin-bottom: 0;
}

.hero-form-section .hero-form .hero-form-select-wrapper label {
	font-size: 16px;
	font-weight: 500;
	color: #7E7878;
}

.hero-form-section .hero-form .hero-form-submit {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	outline: 0;
	background-color: #FFA500;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border: none;
	color: #fff;
	cursor: pointer;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.hero-form-section .hero-form .hero-form-submit .fa-search {
	font-size: 26px;
	line-height: 1;
	margin-bottom: 5px;
}

.hero-form-section .hero-form .hero-form-submit span {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1.5px;
}

#search-date {
	color: #BABABA;
	font-size: 14px;
	cursor: pointer;
	border: none;
	padding: 7px 0;
	border: none;
	padding: 7px 30px 7px 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	position: relative;
}

span.amsify-toggle-selection.date-picker-chevron.fal.fa-chevron-down {
	position: absolute;
	right: 25px;
	top: 51px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

#search-date::-webkit-input-placeholder {
	/* Edge */
	color: #BABABA!important;
}

#search-date:-ms-input-placeholder {
	/* Internet Explorer */
	color: #BABABA!important;
}

#search-date::-moz-placeholder {
	color: #BABABA!important;
}

#search-date::-ms-input-placeholder {
	color: #BABABA!important;
}

#search-date::placeholder {
	color: #BABABA!important;
}

.spotlight-section {
	padding: 60px 0;
}

.spotlight-section h2 {
	font-size: 36px;
	font-weight: 700;
	color: #242424;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 50px;
}

.spotlight-section .spotlight-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0px 10px 16px rgba(15, 15, 15, 0.06);
	        box-shadow: 0px 10px 16px rgba(15, 15, 15, 0.06);
	border-radius: 12px;
	overflow: hidden;
}

.spotlight-section .spotlight-item:first-child {
	margin-right: 5px;
}

.spotlight-section .spotlight-item:last-child {
	margin-left: 5px;
}

.spotlight-section .spotlight-item .spotlight-image {
	background-size: cover;
	-webkit-box-flex: 1;
	    -ms-flex: 1 50%;
	        flex: 1 50%;
}

.spotlight-section .spotlight-item .spotlight-image .spotlight-image-overlay {
	padding: 15px 20px;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 33, 40, 0.5)), color-stop(30%, rgba(32, 33, 40, 0)));
	background: -o-linear-gradient(top, rgba(32, 33, 40, 0.5) 0%, rgba(32, 33, 40, 0) 30%);
	background: linear-gradient(180deg, rgba(32, 33, 40, 0.5) 0%, rgba(32, 33, 40, 0) 30%);
}

.spotlight-star {
	color: #fff;
	font-weight: 600;
}

.spotlight-star i {
	color: #FFA500;
	margin-right: 5px;
}

.spotlight-section .spotlight-item .spotlight-content {
	padding: 15px 20px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 50%;
	        flex: 1 50%;
}

.spotlight-section .spotlight-item .spotlight-content h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.2;
	color: #242424;
	margin-bottom: 15px;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-list {
	list-style: none;
	padding-left: 0;
	font-size: 14px;
	font-weight: 400;
	color: #7E7878;
	line-height: 1.2;
	margin-bottom: 20px;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-list li {
	margin-bottom: 5px;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-list li:last-child {
	margin-bottom: 0px;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-book {
	float: right;
	font-weight: 600;
	text-decoration: none;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-icons {
	margin-bottom: 35px;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-icons span {
	color: #242424;
	font-weight: 600;
	font-size: 16px;
	margin-right: 15px;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-icons span:last-child {
	margin-right: 0;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-icons span i {
	color: #BABABA;
	margin-right: 5px;
	font-size: 14px;
}

.spotlight-section .spotlight-item .spotlight-content .spotlight-book {
	float: right;
	font-weight: 600;
	color: #FFA500;
	text-decoration: none;
}

.discover-section {
	padding: 60px 0;
}

.discover-section .discover-info {
	padding-right: 93px;
	min-height: 355px;
}

.discover-section .tab-pane {
	padding: 40px 0 60px 0;
}

.discover-section .tab-pane h3 {
	font-size: 42px;
	line-height: 1.28;
	margin-bottom: 25px;
	font-weight: 700;
	color: #242424;
	white-space: pre-line;
}

.discover-section .tab-pane p {
	font-size: 18px;
	line-height: 1.66;
	color: #7E7878;
	margin-bottom: 45px;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs .nav-link {
	border: none;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #7B7B7B;
	margin-right: 40px;
	padding-left: 0;
	padding-right: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #242424;
	position: relative;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:after {
	content: '';
	position: absolute;
	width: 36px;
	height: 3px;
	border-radius: 3px;
	background-color: #FFA500;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	bottom: 3px;
}

.discover-carousel-wrapper {
	position: relative;
}

.discvover-carousel {
	height: auto;
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	position: absolute;
	width: 55vw;
	left: 0;
}

.discover-navigation {
	margin-top: 25px;
}

.discover-navigation button {
	background-color: transparent;
	border: none;
	padding: 0;
	font-size: 18px;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}

.discover-navigation button:first-child {
	margin-right: 30px;
}

.discover-navigation button i {
	font-size: 28px;
	color: #242424;
}

.discover-navigation button:focus {
	outline: 0;
}

.discover-navigation button.disabled i {
	font-size: 28px;
	opacity: .3;
}

.discover-item-wrapper {
	padding: 20px;
	width: 280px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.discover-item-wrapper .discover-item {
	height: 100%;
	width: 95%;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 16px rgba(15, 15, 15, 0.06);
	        box-shadow: 0px 5px 16px rgba(15, 15, 15, 0.06);
	text-align: center;
	padding-bottom: 25px;
	cursor: pointer;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
}

.discover-item-wrapper .discover-item:hover {
	/* width: 100%; */
	-webkit-transform: scale(1.08);
	    -ms-transform: scale(1.08);
	        transform: scale(1.08);
	padding-bottom: 50px;
	/* transform: translateY(-15px); */
}

.discover-item .discover-image {
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-bottom: 20px;
}

.discover-item-wrapper .discover-item:hover h4 {
	color: #242424;
}

.discover-item h4 {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: #7C7C7C;
	margin-bottom: 0;
	padding: 0 15px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.discover-item .btn-explore {
	font-size: 14px;
	color: #FFA500;
	font-weight: 600;
	display: inline-block;
	text-decoration: none;
	padding: 0 15px;
	margin-top: 7px;
	position: absolute;
	bottom: 0;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	        transform: translate(-50%, -100%);
	-webkit-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.discover-item:hover .btn-explore {
	bottom: 0;
	left: 50%;
	opacity: 1;
	-webkit-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	        transform: translate(-50%, -100%);
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.discvover-carousel,
.discvover-carousel .owl-stage-outer {
	height: 100%;
}

.discvover-carousel .owl-stage {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}

.discvover-carousel .owl-item {
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.discvover-carousel .owl-item.active {
	opacity: 1;
}

.extras-section {
	padding: 60px 0;
	background-color: #1D474C;
	margin-bottom: 80px;
	margin-top: 80px;
}

.extras-section p {
	font-size: 18px;
	line-height: 1.66;
	color: #fff;
	margin-bottom: 0;
}

.extras-section h3 {
	font-size: 42px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 25px;
	line-height: 1.28;
	white-space: pre-line;
}

.extras-section h5 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFA500;
	margin-bottom: 15px;
	line-height: 1.2;
}

.extras-section .extras-content {
	padding-right: 155px;
}

.extras-section .floating-cards {
	position: relative;
}

.extras-section .floating-cards .floating-card-wrapper {
	position: absolute;
}

.extras-section .floating-cards .floating-card-wrapper:first-child {
	left: 0;
	top: -140px;
	padding: 0 20px;
}

.extras-section .floating-cards .floating-card-wrapper:last-child {
	right: 0;
	bottom: -140px;
	padding: 0 20px;
}

.extras-section .floating-cards .floating-card-item {
	background-color: #fff;
	border-radius: 12px;
	-webkit-box-shadow: 0px 5px 16px rgba(15, 15, 15, 0.06);
	        box-shadow: 0px 5px 16px rgba(15, 15, 15, 0.06);
	overflow: hidden;
	margin-bottom: 40px;
}

.extras-section .floating-cards .floating-card-item img {
	margin-bottom: 30px;
}

.extras-section .floating-cards .floating-card-item h6 {
	font-size: 24px;
	color: #242424;
	line-height: 1.2;
	text-align: center;
	font-weight: 600;
	padding: 0 15px;
	margin-bottom: 30px;
}

.about-section {
	padding: 60px 0;
}

.about-section p {
	font-size: 18px;
	line-height: 1.66;
	color: #7E7878;
	text-align: right;
	margin-bottom: 25px;
}

.about-section h3 {
	font-size: 42px;
	font-weight: 700;
	text-align: right;
	color: #242424;
	margin-bottom: 25px;
	white-space: pre-line;
	line-height: 1.28;
}

.about-section .about-images {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 80px;
}

.about-section .about-images .about-main-image {
	padding-right: 40px;
	width: 70%;
}

.about-section .about-images .about-main-image>img {
	width: 100%;
	border-radius: 12px;
}

.about-section .about-images .about-secondary-images {
	width: 40%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.about-section .about-images .about-secondary-images img:first-child {
	margin-bottom: 40px;
	width: 100%;
	border-radius: 12px;
}

.about-section .about-images .about-secondary-images img:nth-child(2) {
	width: 75%;
	border-radius: 12px;
}

.care-section {
	padding: 60px 0;
	margin-bottom: 30px;
}

.care-section h3 {
	font-size: 42px;
	font-weight: 700;
	color: #242424;
	margin-bottom: 25px;
	line-height: 1.28;
}

.care-section p {
	font-size: 18px;
	line-height: 1.66;
	color: #7E7878;
	;
	margin-bottom: 25px;
}

.care-section .care-image {
	padding-left: 50px;
}

.care-section .care-image img {
	border-radius: 12px;
}

.check-list {
	list-style: none;
	font-size: 16px;
	line-height: 1.2;
	color: #242424;
	padding-left: 0;
}

.check-list li {
	margin-bottom: 15px;
	padding-left: 40px;
	position: relative;
}

.check-list li:before {
	content: "\f00c";
	color: #FFA500;
	position: absolute;
	left: -5px;
	top: 2px;
	padding-left: 20px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
}

.footer-content {
	text-align: center;
	width: 100%;
	border-top: 1px #e0e0e0 solid;
	padding: 35px 0;
}

.footer-content .footer-logo {
	width: 40px;
	height: auto;
	margin-bottom: 30px;
}

.footer-content .footer-links {
	margin-bottom: 25px;
}

.footer-content .footer-links a {
	color: #818181;
	font-weight: 500;
	line-height: 1.2;
	text-decoration: none;
	font-size: 18px;
	margin-right: 20px;
}

.footer-content .footer-links a:last-child {
	margin-right: 0px;
}

.footer-content .footer-social-links {
	margin-bottom: 25px;
}

.footer-content .footer-social-links a {
	color: #363636;
	text-decoration: none;
	margin-right: 20px;
}

.footer-content .footer-social-links a:last-child {
	margin-right: 0;
}

.footer-content .copyright {
	font-size: 14px;
	color: #C6C6C6;
}

.search-results {
	padding: 80px;
}

.search-results .container {
	padding: 0 60px;
}

.search-results h1 {
	text-align: center;
	color: #242424;
	line-height: 1.2;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 35px;
}

button.applyBtn.btn.btn-sm.btn-primary {
	border-radius: 3px;
}

.search-results h2 {
	color: #242424;
	line-height: 1.2;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 35px;
}

.search-results .search-detail-filter {
	z-index: 5;
	margin-bottom: 60px;
}

.search-results .search-detail-filter .amsify-selection-area {
	width: 100%;
}

.search-results .search-detail-filter .form-group .form-control {
	border: 1px solid #707070;
	border-radius: 10px;
	padding-left: 15px;
}

.search-results .search-detail-filter span.amsify-toggle-selection.date-picker-chevron.fal.fa-chevron-down {
	right: 27px;
}

.search-results .search-detail-filter .form-group #search-date.form-control {
	border: 1px solid #707070;
	padding-left: 15px;
}

.search-results .search-detail-filter .input-number-decrement,
.search-results .search-detail-filter .input-number-increment {
	line-height: 24px;
}

.search-results .search-detail-filter .input-number,
.search-results .search-detail-filter .input-number-decrement,
.search-results .search-detail-filter .input-number-increment {
	height: auto;
}

.search-results .search-detail-filter .form-group:last-child {
	margin-right: 0px;
}

.search-villa-item {
	-webkit-box-shadow: 0px 10px 16px rgba(15, 15, 15, 0.06);
	        box-shadow: 0px 10px 16px rgba(15, 15, 15, 0.06);
	border-radius: 12px;
	margin-bottom: 35px;
	overflow: hidden;
}

.search-item-content {
	padding: 25px 25px 25px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.search-item-content h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.2;
	color: #242424;
	margin-bottom: 15px;
	padding-right: 60px;
}

.search-item-content p {
	color: #707070;
	font-size: 16px;
	margin-bottom: 60px;
}

.search-item-content .search-card-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.search-item-content .search-card-footer .search-card-icons span {
	color: #7E7878;
	font-weight: 600;
	font-size: 16px;
	margin-right: 15px;
}

.search-item-content .search-card-footer .search-card-icons span:last-child {
	margin-right: 0;
}

.search-item-content .search-card-footer .search-card-icons span i {
	color: #BABABA;
	margin-right: 5px;
	font-size: 14px;
}

.search-item-content .search-card-footer .search-card-icons span i {
	color: #BABABA;
	margin-right: 5px;
	font-size: 14px;
}

.search-item-content .search-card-footer .search-card-links .secondary-link {
	color: #7E7878;
	font-weight: 600;
	font-size: 16px;
	margin-right: 25px;
	text-decoration: none;
	letter-spacing: 1px;
}

.search-item-content .search-card-footer .search-card-links .primary-link {
	color: #FFA500;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
}

.search-item-content .search-item-star {
	color: #242424;
	font-weight: 500;
	position: absolute;
	right: 25px;
	top: 25px;
}

.search-item-content .search-item-star i {
	color: #FFA500;
	margin-right: 5px;
}

.search-list-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 100%;
}

.search-list-slider .owl-stage-outer,
.search-list-slider .owl-stage,
.search-list-slider .owl-item {
	height: 100%;
}

.search-slider-image {
	height: 100%;
	background-size: cover;
	background-position: center;
}

.search-list-slider .owl-dots {
	position: absolute;
	left: 50%;
	bottom: 15px;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search-list-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	margin-right: 12px;
	outline: 0;
}

.search-list-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.search-list-slider .owl-dots .owl-dot.active {
	background-color: rgba(255, 255, 255, 1)
}

.search-list-slider .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translateY(-11px);
	    -ms-transform: translateY(-11px);
	        transform: translateY(-11px);
	padding: 0 10px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.owl-carousel.search-list-slider .owl-nav button {
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, .16);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	font-size: 12px;
}

.owl-carousel.search-list-slider .owl-nav button:focus {
	outline: 0;
}

.owl-carousel.search-list-slider .owl-nav button.disabled {
	opacity: .2;
}

.pagination {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 80px;
	margin-bottom: 0;
}

.pagination .page-link {
	position: relative;
	display: block;
	padding: .5rem 15px;
	color: #CBCBCB;
	font-size: 13px;
	border: none;
	border-radius: 4px;
}

.pagination .page-link:focus {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.pagination .page-item.next .page-link,
.pagination .page-item.prev .page-link {
	font-size: 16px;
	color: #222222;
}

.pagination .page-item.active .page-link {
	color: #222222;
	background-color: transparent;
}

.detail-hero-section {
	margin-bottom: 60px;
}

.detail-hero-slider {
	position: relative;
	padding-left: 0;
	margin-top: -83px;
}

.detail-hero-slider .item {
	height: 580px;
	background-position: center;
	background-size: cover;
}

.detail-hero-slider .overlay-slider {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .4);
}

.detail-hero-slider .owl-dots {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.detail-hero-slider .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	margin-right: 12px;
	outline: 0;
}

.detail-hero-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.detail-hero-slider .owl-dots .owl-dot.active {
	background-color: rgba(255, 255, 255, 1)
}

.detail-hero-slider .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translateY(-11px);
	    -ms-transform: translateY(-11px);
	        transform: translateY(-11px);
	padding: 0px 40px 0 20px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.owl-carousel.detail-hero-slider .owl-nav button {
	width: 22px;
	height: 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	font-size: 14px;
}

.owl-carousel.detail-hero-slider .owl-nav button i {
	font-size: 16px;
}

.owl-carousel.detail-hero-slider .owl-nav button:focus {
	outline: 0;
}

.owl-carousel.detail-hero-slider .owl-nav button.disabled {
	opacity: .2;
}

.detail-hero-section .details-specifications {
	padding: 60px 50px;
	padding-right: 30%;
}

.detail-hero-section .details-specifications h1 {
	color: #222222;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 25px;
}

.detail-hero-section .details-specifications p {
	width: 80%;
	color: #FFA500;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}

.detail-hero-section .detail-specification-list {
	margin-bottom: 40px;
	padding-left: 0;
	list-style: none;
}

.detail-hero-section .detail-specification-list li {
	position: relative;
	font-size: 15px;
	color: #7E7878;
	padding-left: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}

.detail-hero-section .detail-specification-list li i {
	position: absolute;
	font-size: 15px;
	color: #BABABA;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.detail-hero-section .detail-specification-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.detail-price {
	color: #FFA500;
	font-weight: 800;
	font-size: 26px;
}

.detail-price span {
	color: #A5A0A0;
	font-weight: 500;
	font-size: 14px;
}

.tabs-content-details {
	margin-bottom: 60px;
	padding: 0 100px;
}

.tabs-content-details .nav.nav-tabs {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.tabs-content-details .tab-pane {
	padding: 40px 0;
}

.tabs-content-details p {
	color: #A5A0A0;
	font-size: 16px;
	line-height: 1.6;
}

.tabs-content-details h3 {
	font-size: 22px;
	color: #222222;
	line-height: 1.2;
	margin-bottom: 20px;
	font-weight: 600;
}

.tabs-content-details .tab-pane .tab-item {
	margin-bottom: 40px;
}

.tabs-content-details .tab-pane>.tab-item:last-child {
	margin-bottom: 0px;
}

.tabs-content-details .surroundings-list {
	padding-left: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tabs-content-details .surroundings-list li {
	position: relative;
	font-size: 16px;
	color: #A5A0A0;
	padding-left: 0px;
	font-weight: 500;
	margin-right: 20px;
}

.tabs-content-details .surroundings-list li i {
	font-size: 15px;
	color: #FFA500;
	margin-right: 5px;
}

#prices .detail-price {
	margin-bottom: 15px;
}

.tabs-content-details #map {
	width: 100%;
	height: 370px;
	border-radius: 12px;
}

#availability {
	position: relative;
}

#availability .lightpick--inlined {
	width: 100%;
	margin-top: 20px;
	padding: 0 30px;
	min-height: 365px;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

#availability .lightpick__inner {
	width: 100%;
	padding: 0;
}

#availability .lightpick__day {
	height: 50px;
}

.lightpick__inner {
	width: 600px;
	padding: 20px 30px;
}

.availability-legend {
	color: #2E2E2E;
	font-size: 12px;
	position: absolute;
	right: 0;
	font-weight: 600;
	text-transform: uppercase;
}

.availability-legend span {
	margin-right: 15px;
	position: relative;
	padding-left: 10px;
}

.availability-legend span:last-child {
	margin-right: 0;
}

.availability-legend span:before {
	content: '';
	width: 5px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	height: 5px;
	border-radius: 100%;
	background-color: #CBCBCB;
}

.availability-legend span.available:before {
	background-color: #50FFD7;
}

.request-modal-checkbox label {
	position: relative;
	display: block;
	cursor: pointer;
	color: #7E7878;
}

.request-modal-checkbox label:after {
	content: '\f00c';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	width: 24px;
	color: #fff;
	height: 24px;
	border: 1px solid #707070;
	border-radius: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: 0;
}

.request-modal-checkbox input:checked+label:after {
	border-color: #FFA500;
	background-color: #FFA500;
}

.request-booking .modal-body {
	padding: 30px;
}

.request-modal-checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.request-booking .modal-content {
	border: none;
	border-radius: 12px;
}

.request-booking .modal-header {
	border-bottom: none;
}

.request-booking .modal-header .close {
	position: absolute;
	right: 15px;
}

.header-modal-content h5 {
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 400;
	color: #7E7878;
	font-size: 12px;
	text-align: center;
	margin-bottom: 0;
}

.header-modal-content h2 {
	font-weight: 600;
	color: #222222;
	font-size: 28px;
	text-align: center;
	margin-bottom: 0;
}

.request-modal-checkbox button[type="submit"] {
	margin-top: auto;
	padding: 10px;
	width: 200px;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}

.request-booking .form-control {
	border: 1px solid #B4B4B4;
	border-radius: 10px;
	padding: 10px 20px;
}

.input-request-modal label {
	padding-left: 10px;
}

.input-request-modal .form-group:last-child {
	margin-bottom: 0;
}

.request-booking .form-control::-webkit-input-placeholder {
	/* Edge */
	font-style: italic;
	color: #D1D1D1;
}

.request-booking .form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-style: italic;
	color: #D1D1D1;
}

.request-booking .form-control::-moz-placeholder {
	font-style: italic;
	color: #D1D1D1;
}

.request-booking .form-control::-ms-input-placeholder {
	font-style: italic;
	color: #D1D1D1;
}

.request-booking .form-control::placeholder {
	font-style: italic;
	color: #D1D1D1;
}

@media only screen and (max-width: 768px) {
	html {
		max-width: initial;
		overflow-x: initial;
	}
	.home-hero-slider .item {
		height: 460px;
	}
	.home-hero-slider .overlay-slider .slider-text {
		padding: 150px 35px 80px 35px;
	}
	.hero-form-section .hero-form .hero-form-submit {
		height: auto;
		padding: 15px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
	}
	.home-hero-slider h2 {
		font-size: 36px;
		font-weight: 700;
		line-height: 1.4;
	}
	.hero-form-section .hero-form .hero-form-submit {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.hero-form-section .hero-form .hero-form-submit .fa-search {
		font-size: 22px;
		margin-bottom: 0;
		margin-right: 10px;
	}
	.hero-form-section .hero-form .hero-form-select-wrapper .form-group {
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #ced4da5e;
	}
	.hero-form-section .hero-form .hero-form-select-wrapper .form-group:last-child {
		padding-bottom: 0;
		border-bottom: none
	}
	.discover-section .nav-tabs {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 30px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.discover-section .nav-tabs .nav-link {
		font-size: 16px;
		margin-right: 20px;
	}
	.discover-section .nav-tabs li:last-child .nav-link {
		margin-right: 0;
	}
	.hero-form-section .hero-form .hero-form-select-wrapper {
		padding: 35px 50px 10px 50px;
	}
	.spotlight-section .spotlight-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-bottom: 30px;
	}
	.spotlight-section .spotlight-item .spotlight-content .spotlight-book {
		display: block;
		text-align: center;
		float: initial;
	}
	.spotlight-section .col-lg-6:last-child .spotlight-item {
		margin-bottom: 0;
	}
	.spotlight-section .spotlight-item .spotlight-image {
		height: 236px;
		background-position: center;
	}
	.spotlight-section .spotlight-item .spotlight-content h3 {
		text-align: center;
	}
	.spotlight-section .spotlight-item .spotlight-content .spotlight-list {
		text-align: center;
		font-size: 16px;
	}
	.spotlight-section .spotlight-item .spotlight-content .spotlight-icons {
		margin-bottom: 15px;
		text-align: center;
	}
	.spotlight-section .spotlight-item .spotlight-content {
		padding: 25px 30px;
	}
	.spotlight-section .col-lg-6 {
		padding: 0 15px;
	}
	.spotlight-section {
		padding: 40px 0 30px 0;
	}
	.spotlight-section h2 {
		font-size: 30px;
		margin-bottom: 40px;
	}
	.extras-section .floating-cards .floating-card-wrapper {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.lightpick__month-title-bar {
		position: initial;
	}
	.lightpick {
		width: 80vw;
		left: 50%!important;
		-webkit-transform: translateX(-50%)!important;
		    -ms-transform: translateX(-50%)!important;
		        transform: translateX(-50%)!important;
	}
	.lightpick__inner {
		width: 100%;
		padding: 10px 36px;
		padding: 20px 36px 30px 36px;
	}
	.extras-section .floating-cards .floating-card-wrapper:first-child {
		top: 0;
	}
	.extras-section .floating-cards .floating-card-item {
		margin-bottom: 15px;
	}
	.extras-section .floating-cards .floating-card-wrapper:last-child {
		bottom: 0;
	}
	.extras-section .floating-card-wrapper:last-child .floating-card-item {
		margin-bottom: 0;
	}
	.extras-section .floating-card-wrapper .floating-card-item:first-child {
		margin-right: 7.5px;
	}
	.extras-section .floating-card-wrapper .floating-card-item:last-child {
		margin-left: 7.5px;
	}
	.extras-section .extras-content {
		padding-right: 15px;
	}
	.extras-section p {
		margin-bottom: 30px;
	}
	.extras-section .floating-cards .floating-card-item h6 {
		font-size: 16px;
	}
	.discover-carousel-wrapper {
		height: 370px;
	}
	.discvover-carousel {
		width: 100%;
	}
	.discover-section .discover-info {
		padding-right: 35px;
		padding-left: 35px;
		margin-bottom: 10px;
		min-height: auto;
	}
	.discover-navigation {
		display: none;
	}
	.discover-section .container {
		max-width: 100%;
	}
	.discover-section .tab-pane p {
		margin-bottom: 30px;
	}
	.discover-item-wrapper .discover-item {
		padding-bottom: 50px;
	}
	.discvover-carousel .owl-stage {
		padding-left: 45px;
	}
	.discover-item .btn-explore {
		bottom: 0;
		left: 50%;
		opacity: 1;
		-webkit-transform: translate(-50%, -100%);
		    -ms-transform: translate(-50%, -100%);
		        transform: translate(-50%, -100%);
	}
	.discover-item-wrapper {
		width: 250px;
		padding: 10px;
	}
	.care-section .care-image {
		padding-left: 15px;
	}
	.about-section h3 {
		text-align: left;
	}
	.about-section p {
		text-align: left;
	}
	.about-section .about-images {
		padding-right: 15px;
		margin-bottom: 0;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	.about-section .about-content {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin-bottom: 30px;
	}
	.about-section {
		padding: 40px 20px 0 20px;
	}
	.about-section .about-images .about-secondary-images img:first-child {
		margin-bottom: 15px;
	}
	.about-section .about-images .about-main-image {
		padding-right: 15px;
	}
	.about-section .about-images .about-secondary-images {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.extras-section {
		margin-bottom: 0;
		margin-top: 0;
		padding: 30px 20px 40px 20px;
	}
	.discover-section {
		padding: 30px 0px;
	}
	.discover-section .tab-pane {
		padding: 40px 0 0px 0;
	}
	.care-section {
		padding: 30px 20px;
		margin-bottom: 0;
	}
	.footer-content .footer-links {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer-content .footer-links a {
		margin-right: 0;
		margin-bottom: 10px;
		font-size: 16px;
	}
	.about-section h3,
	.care-section h3,
	.extras-section h3,
	.discover-section .tab-pane h3 {
		font-size: 30px;
		white-space: unset;
	}
	.amsify-selection-area .amsify-selection-list {
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.navbar-toggler:not(:disabled):not(.disabled) {
		border: none;
		outline: 0;
	}
	.navbar.navbar-dark {
		border-bottom: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, .7);
		padding: 15px 20px;
	}
	.navbar.navbar-light {
		border-bottom: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, .7);
		padding: 15px 20px;
		border-bottom: 1px solid #6c757d24;
	}
	.navbar-dark .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 1);
	}
	.navbar-dark.dark-text .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 1);
	}
	.language-menu {
		padding-left: 0;
	}
	.detail-hero-slider .item {
		height: 350px;
		background-position: center;
		background-size: cover;
	}
	.detail-hero-slider {
		padding-left: 0;
		padding-right: 0;
		margin-top: 0;
	}
	.detail-hero-section .details-specifications {
		padding: 30px 20px;
		padding-right: 20px;
	}
	.detail-hero-section .detail-specification-footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.detail-price {
		margin-bottom: 30px;
	}
	.detail-hero-section .details-specifications h1 {
		text-align: center;
	}
	.detail-hero-section .details-specifications p {
		width: 100%;
		text-align: center;
	}
	.detail-hero-section .detail-specification-list {
		text-align: center;
	}
	.detail-hero-section .detail-specification-list li i {
		position: relative;
		margin-right: 10px;
		-webkit-transform: translateY(0%);
		    -ms-transform: translateY(0%);
		        transform: translateY(0%);
	}
	.detail-hero-section .detail-specification-list li {
		padding-left: 0;
	}
	.tabs-content-details {
		margin-bottom: 0;
		padding: 0 5px;
	}
	.tabs-content-details .nav.nav-tabs {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.nav-tabs .nav-link {
		margin-right: 0px;
	}
	.tabs-content-details .surroundings-list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.detail-hero-section {
		margin-bottom: 10px;
	}
	.availability-legend {
		right: auto;
		left: 0;
		top: auto;
		bottom: 15px;
	}
	.tabs-content-details .surroundings-list li {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.detail-hero-slider .owl-nav {
		padding: 0px 20px 0 20px;
	}
	.home-hero-slider {
		margin-top: 0;
	}
	.search-results h1 {
		font-size: 28px;
	}
	.search-results .container {
		padding: 0;
	}
	.search-results {
		padding: 130px 30px 30px 30px;
	}
	.search-results h2 {
		font-size: 20px;
	}
	.search-results .search-detail-filter {
		margin-bottom: 30px;
	}
	.search-list-slider {
		height: 200px;
	}
	.search-item-content p {
		margin-bottom: 20px;
	}
	.search-item-content {
		padding: 25px;
	}
	.search-item-content .search-card-footer {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.search-card-icons {
		margin-bottom: 15px;
	}
	.search-villa-holder {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.request-modal-checkbox button[type="submit"] {
		width: 100%;
	}
	.input-request-modal .form-group:last-child {
		margin-bottom: 1rem;
	}
	.search-villa-item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 47.5%;
		        flex: 1 47.5%;
	}
	.search-villa-item:nth-child(odd) {
		margin-right: 2.5%;
	}
	.search-villa-item:nth-child(even) {
		margin-left: 2.5%;
	}
	.pagination {
		margin-top: 20px;
	}
	.request-booking .modal-header {
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 480px) {
	.spotlight-section .col-lg-6 {
		padding: 0 35px;
	}
	.discover-section .nav-tabs .nav-link {
		font-size: 14px;
		margin-right: 0;
	}
	.discover-section .nav-tabs {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.tabs-content-details #map {
		height: 250px;
	}
	.search-villa-item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
	}
	.search-villa-item:nth-child(odd) {
		margin-right: 0;
	}
	.search-villa-item:nth-child(even) {
		margin-left: 0;
	}
}